/target
/dist
/.vscode
*.code-workspace
*.db
.DS_Store
src/app/data.rs
Cargo.lock
/.cargo
/.cargo-packager
Cargo.lock
*.db.old
telescope.toml
/crates/webb/target/
/crates/sde/target/
/crates/telescope/target/
